@import "@xyflow/react/dist/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* changed for full-size workflow canvas */
.p-6 {
  padding: 0!important;
}
